<ion-header>
  <ion-navbar color="danger">
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title> 
      Bosky
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item text-wrap *ngFor="let m of messages" [ngClass]="{ 'from': m.from === 'bot','to':   m.from === 'user' }">
      <ion-avatar item-start>
        <img [src]="m.from === 'bot' ? 'https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png' : 'https://image.flaticon.com/icons/png/128/149/149071.png'">
      </ion-avatar>
      <h2>
        <strong>{{m.from}}</strong>
      </h2>
      <div class="message">{{m.msg}}</div>
      <p>
        <img *ngIf="m.iconURL != ''" [src]="m.iconURL" (click)="onClickWeatherIcon()" />
      </p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-input type="text" [(ngModel)]="chatBox" placeholder="Message..." (keypress)="keyPressHandler($event.keyCode, chatBox)"></ion-input>
    <ion-buttons end>
      <button ion-button (click)="send(chatBox)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>